.header {
  background-color: red;
  display: flex;
}

.nav {
  background-color: black;
  display: inline-grid;
  grid-template-columns: 8% 57% 35%;
  grid-template-rows: auto;
  justify-content: space-around;
  width: 100%;
}

.header-logo {
  grid-column: 1;
  align-self: center;
  width: 60%;
  height: auto;
  padding: 5%;
  padding-left: 20%;
}

.nav-list {
  grid-column: 2;
  align-self: center;
  display: inline-grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto;
  justify-content: space-around;
  align-content: center;
  list-style: none;
  resize: both;
}

.login {
  grid-column: 3;
  align-self: center;
  margin: 20px;
  display: flex;
  padding-top: 20px;
  padding-right: 20px
}

.nav-item {
  font-size: 3em;
  font-family: "Bauhaus 93";
  color: white;
  text-decoration-line: none;
}

.signup {
  color: white;
  text-decoration-line: none;
  align-self: center;
  margin: 1%;
}

.btn-login {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #FFFFFF;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #FFFFFF;
  text-align: center;
  transition: all 0.2s;
}

.btn-login:hover {
  color: #000000;
  background-color: #FFFFFF;
}

.input-login {
  height: 2em;
}

body {
  display: grid;
  margin: 0px;
}
